.questionnaires {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.completed {
    background-color: #95a5a6 !important;
    cursor: not-allowed !important;
    color: #ffffA5 !important;
    pointer-events: none !important;
}
.notClickable {
    pointer-events: none !important;
}

.card {
    border-radius: 0;
    cursor: pointer;
}
.card,
.card-footer {
    background-color: #ffffA5;
    border: none;
}
.card.completed,
.card.completed .card-footer {
    background-color: #EEE;
    color: #2c3531;
}
.card-footer {
    text-align: right;
}
i {
    color: #CC0000;
    padding-right: .5rem;
}
.fa.fa-check {
    color: green;
}

.card-block p {
    color: #2c3531;
}

.card-footer span {
    color: #2c3531;
}

h4 {
    color: #2c3531;
}

.question {
    display: flex;
    flex-flow: column wrap;
}

span {
    color:#2c3531;
}

label {
    color: #2c3531;
    margin: 5px;
}
