<div class="inner cover">
  <div class="cover-heading"><img src="./assets/questionnaire-design.png" /></div>
  <p class="lead">Welcome to the official MOP Questionnaire</p>
  <p class="lead">If you don't have an account register or just sign in!</p>
  <p class="lead">
    <a routerLink="/register" class="btn btn-lg btn-secondary register" (click)="addNavbar()">Register</a>
    <a routerLink="/login" class="btn btn-lg btn-secondary sign-in" (click)="addNavbar()">Sign in</a>
  </p>
</div>
