<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">MOP Questionnaire</h3>
          <nav class="nav nav-masthead">
            <app-navbar></app-navbar>
          </nav>
        </div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
      <footer class="col-md-12">
        <div class="mastfoot">
          <div class="inner">
            <p>Web app made by <a href="https://www.linkedin.com/in/mensur-bekti%C4%87-725a44135/">Mensur Bektić</a></p>
          </div>
        </div>
      </footer>
    </div>

  </div>

</div>