<div class="container">
    <form class="form-horizontal"
    [formGroup]="loginForm"
    (ngSubmit) = "login(loginForm.value)"
     role="form">
     <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Login</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input 
                        type="text" 
                        name="email" class="form-control" 
                        id="email" 
                        placeholder="you@example.com"
                        formControlName="email" 
                        email
                        required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle"
                     *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
                           <i class="fa fa-close"> Email field is required!</i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input
                         type="password" 
                         name="password" 
                         class="form-control" 
                         id="password" 
                         placeholder="Password" 
                         formControlName="password"
                         required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                   <span class="text-danger align-middle"
                     *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
                           <i class="fa fa-close"> Password field is required!</i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <span class="text-danger align-middle"
                     *ngIf="isError">
                           <i class="fa fa-close"> {{errorMessage}}</i>
                </span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-3 smallDevice">
                <button 
                type="submit" 
                class="btn btn-success"
                [disabled]="!loginForm.valid"
                ><i class="fa fa-user-plus"></i> Sign in</button>
            </div>
            <div class="col-md-3 smallDevice">
              <button 
                (click) = "cancel()"
                class="btn btn-danger"
                ><i class="fa fa-eraser"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>