<div class="container">
    <form class="form-horizontal"
     role="form"
     (ngSubmit)="register(registerForm.value)"
     [formGroup] = "registerForm">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input
                         type="text" 
                         name="name" 
                         class="form-control" 
                         id="name" 
                         placeholder="John"
                         formControlName="name"
                         required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                            <span class="text-danger align-middle"
                     *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.touched">
                           <i class="fa fa-close"> Name field is required!</i>
                        </span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Last name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input
                         type="text" 
                         name="last_name" 
                         class="form-control" 
                         id="last_name" 
                         placeholder="Doe"
                         formControlName="last_name"
                         required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                            <span class="text-danger align-middle"
                     *ngIf="!registerForm.controls.last_name.valid && registerForm.controls.last_name.touched">
                           <i class="fa fa-close"> Last name field is required!</i>
                        </span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input 
                        type="text" 
                        name="email" class="form-control" 
                        id="email" 
                        placeholder="you@example.com"
                        formControlName="email" 
                        email
                        required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle"
                     *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">
                           <i class="fa fa-close"> Email field is required!</i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input
                         type="password" 
                         name="password" 
                         class="form-control" 
                         id="password" 
                         placeholder="Password" 
                         formControlName="password"
                         required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                   <span class="text-danger align-middle"
                     *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
                           <i class="fa fa-close"> Password field is required and must have at least 6 characters!</i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Confirm Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input 
                        type="password" 
                        name="confirmPassword" 
                        class="form-control" 
                        id="confirmPassword" 
                        formControlName="confirmPassword"
                        placeholder="Password" 
                        required>
                    </div>
                </div>
            </div>
             <div class="col-md-3">
                <div class="form-control-feedback">
                   <span class="text-danger align-middle"
                     *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.touched">
                           <i class="fa fa-close"> Confirm password field is required!</i>
                        </span>
                </div>
            </div>
        </div>
         <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <span class="text-danger align-middle"
                     *ngIf="isError">
                           <i class="fa fa-close"> {{errorMessage}}</i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button 
                type="submit" 
                class="btn btn-success"
                [disabled]="!registerForm.valid"
                ><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>