<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-start" style="margin-bottom:10px;">
      <button type="submit" (click)="reset()" data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Questionnaire</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Num</th>
            <th>Name of questionnaire</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of questionnaires; let i = index ">
            <th scope="row">{{i + 1}}</th>
            <td style="text-align: left;">{{q.name}}</td>
            <td><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" aria-hidden="true" style="color:thistle"
                (click)="setCurrentQuestionnaire(q,0)"></i></td>
            <td><i class="fa fa-times" data-toggle="modal" data-target="#deleteModal" aria-hidden="true" style="color:red" (click)="setCurrentQuestionnaire(q, 1)">
            </i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="myModal" role="dialog" (onHidden)="close()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text">New Questionnaire</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" [(ngModel)]="questionnaire.name" placeholder="Questionnare title">
            </div>
          </div>
          <div class="row d-flex align-items-center" style="margin-top:10px;margin-bottom:10px" *ngIf="!isUpdate">
            <div class="col-md-3">
              <span class="text">Add question: </span>
            </div>
            <div class="col-md-3">
              <select name="questionType" [(ngModel)]="question.type" class="form-control">
                  <option value="1">Text</option>
                  <option value="2">YesOrNo</option>
                  <option value="3">Multiple choice</option>
                  <option value="4">Single choice</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <div class="input-group" *ngIf="!isUpdate">
                <input type="text" class="form-control" placeholder="Question" [(ngModel)]="question.text">
              </div>
            </div>
            <div class="col-lg-5" *ngIf="question.type > 2 && !isUpdate">
              <div class="input-group">
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Choices" [(ngModel)]="question.choices" multiple>
              </div>
            </div>
            <div class="col-lg-2 btn-smallDevice" *ngIf="!isUpdate">
              <div class="input-group">
                <button class="btn btn-primary" (click)="insertQuestion(question)">Add</button>
              </div>
            </div>
          </div>
          <div class="row align-items-baseline" style="margin:10px 0 10px 0" *ngFor="let que of questions">
            <!--questions-->
            <div class="col-md-2">
              <span class="text">Num: {{que.questionNum}}</span>
            </div>
            <div class="col-md-3">
              <!--<span class="text">Question: {{que.text}}</span>-->
              <input type="text" class="form-control" [(ngModel)] = "que.text">
            </div>
            <div class="col-md-3" [ngSwitch]="que.type">
              <span class="text" *ngSwitchCase="1">Type:Text</span>
              <span class="text" *ngSwitchCase="2">Type:YesOrNo</span>
              <span class="text" *ngSwitchCase="3">Type:Multiple choice</span>
              <span class="text" *ngSwitchCase="4">Type:Single choice</span>
            </div>
            <div class="col-md-3">
              <span class="text" *ngIf="que.type > 2">Choices: ({{que.choices}})</span>
            </div>
            <div class="col-md-1" *ngIf="!isUpdate">
              <i class="fa fa-times" aria-hidden="true" style="color:red" (click)="deleteQuestion(que.questionNum)"></i>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="isError">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
                           <i class="fa fa-close"> All fields must be filled out!</i>
                        </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text">Delete Questionnaire</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="text">Are you sure you want to delete {{questionnaire.name}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteQuestionnaire()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>