.text {
    color: #000;
}

.addQuestion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
}


@media screen and (max-width: 991px) and (min-width: 200px) {

    .btn-smallDevice {
        margin-top: 10px;
    }

    .btn-smallDevice button {
        width: 100%;
    }
}
