<div class="col-sm-12" style="margin-bottom: 15px;" data-toggle="modal" data-target="#questionModal" (click) = "getQuestions(questionnaire.id)">
    <div class="card">
        <div class="card-block">
            <p>{{questionnaire.name}}</p>
        </div>
        <div class="card-footer">
            <span *ngIf="questionnaire.done == 0"><i class="fa fa-times" aria-hidden="true"></i>Not Completed</span>
            <span *ngIf="questionnaire.done == 1"><i class="fa fa-check" aria-hidden="true"></i>Completed</span>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="questionModal" role="dialog" (onHidden)="close()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{questionnaire.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-center" *ngFor="let q of question; let i = index" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <span>{{q.text}}</span>
                    </div>
                    <div class="col-md-9" [ngSwitch]="q.type">
                        <div *ngSwitchCase="1">
                            <input type="text" class="form-control" name="Answer {{i}}" [(ngModel)]="questionInsert[i].choice" placeholder="Answer...">
                        </div>
                        <div *ngSwitchCase="2">
                            <label><input type="radio" name="yesNo" value="Yes" checked [(ngModel)]="questionInsert[i].choice"> Yes</label>
                            <label><input type="radio" name="yesNo" value="No" [(ngModel)]="questionInsert[i].choice"> No</label>
                        </div>
                        <div *ngSwitchCase="3">
                            <label class="checkbox-inline" *ngFor="let choice of q.choices; let x = index;"><input type="checkbox" name="multipleAnswer {{i}}, {{x}}" [(ngModel)]="questionChoice[x]" value="{{choice}}"> {{choice}}</label>
                        </div>
                        <div *ngSwitchCase="4">
                            <label *ngFor="let choice of q.choices; let y = index;"><input type="radio" name="optradio" [(ngModel)]="questionInsert[i].choices" value="{{choice}}"> {{choice}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="isError">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                           <i class="fa fa-close"> All fields must be filled out!</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>