.navBtn {
    padding: 10px;
    text-decoration: none;
    border: 1px solid #d9b08c;
    margin-left: 10px;
    border-radius: 5px;
}

.navBtn:hover {
    background-color: #d1e8e2;
    color: #116466;
    border: 1px solid #116466;
}

@media screen and (max-width: 750px) and (min-width: 200px) {
    .navSmall {
        margin: 20px 0 20px 0;
    }
}