<div *ngIf="showBackNavBar" class="navSmall">
    <a class="navBtn" routerLink="/" (click) = "back()" ><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
</div>
<div *ngIf="showNavBar" class="navSmall">
    <span>Welcome {{user}}</span>
    <a class="navBtn" routerLink="/" (click) = "logout()"><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
</div>